<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FriendRate">
    <test name="MyTests">
        <classes>
            <class name="tests.LoginTest" />
            <class name="tests.MainPageTest"/>
            <class name="tests.RegistrationHappyPathTest"/>
            <class name="tests.RegistrationSadPathTest"/>
            <class name="api.FriendTest"/>
            <class name="tests.EditProfileHappyPathTest"/>
            <class name="tests.EditProfileBoundaryTest"/>
        </classes>

    </test>
</suite>